In [1]:
import pandas as pd

In [2]:
market = pd.read_csv('소상공인시장진흥공단_전통시장_20240722.csv')
market.head()

,시장명,시장유형,소재지도로명주소,소재지지번주소,시장개설주기,위도,경도,점포수,취급품목,사용가능상품권,홈페이지주소,공중화장실보유여부,주차장보유여부,개설연도,전화번호,데이터기준일자
0,설악눈메골시장,상설장+5일장,경기도 가평군 설악면 신천중앙로 104-1,경기도 가평군 설악면 신천리 413-14,1일+6일,37.677383,127.492181,94.0,농산물+음식점,NaN,NaN,Y,Y,2016.0,031-585-9983,2024-07-22
1,가평잣고을시장,상설장+5일장,경기도 가평군 가평읍 장터2길12 204호,경기도 가평군 읍내리 405,5일+10일,37.779724,127.452787,119.0,음식점,NaN,NaN,Y,Y,2015.0,031-582-8181,2024-07-22
2,청평여울시장,상설장+5일장,경기도 가평군 청평면 시장중앙로19,경기도 가평군 청평면 청평리 81-2,2일+7일,37.734766,127.415861,79.0,음식점,NaN,NaN,Y,Y,2018.0,031-584-0948,2024-07-22
3,원당시장,상설장,경기도 고양시 덕양구 호국로 790번길 17,경기도 고양시 덕양구 성사동 697-14,매일,37.656281,126.837253,68.0,농산물+축산물+수산물+가공식품+의류+신발+가정용품,NaN,NaN,N,Y,NaN,031-963-0013,2024-07-22
4,능곡시장,상설장+5일장,경기도 고양시 덕양구 능곡로 12의 9,경기도 고양시 덕양구 토당동 347,2일+7일,37.621351,126.820779,41.0,농산물+축산물+수산물+가공식품+의류+신발+가정용품+음식점,NaN,NaN,Y,Y,2000.0,031-973-3727,2024-07-22

In [3]:
market = market.drop(columns=['사용가능상품권', '주차장보유여부', '데이터기준일자'])
market.head()

,시장명,시장유형,소재지도로명주소,소재지지번주소,시장개설주기,위도,경도,점포수,취급품목,홈페이지주소,공중화장실보유여부,개설연도,전화번호
0,설악눈메골시장,상설장+5일장,경기도 가평군 설악면 신천중앙로 104-1,경기도 가평군 설악면 신천리 413-14,1일+6일,37.677383,127.492181,94.0,농산물+음식점,NaN,Y,2016.0,031-585-9983
1,가평잣고을시장,상설장+5일장,경기도 가평군 가평읍 장터2길12 204호,경기도 가평군 읍내리 405,5일+10일,37.779724,127.452787,119.0,음식점,NaN,Y,2015.0,031-582-8181
2,청평여울시장,상설장+5일장,경기도 가평군 청평면 시장중앙로19,경기도 가평군 청평면 청평리 81-2,2일+7일,37.734766,127.415861,79.0,음식점,NaN,Y,2018.0,031-584-0948
3,원당시장,상설장,경기도 고양시 덕양구 호국로 790번길 17,경기도 고양시 덕양구 성사동 697-14,매일,37.656281,126.837253,68.0,농산물+축산물+수산물+가공식품+의류+신발+가정용품,NaN,N,NaN,031-963-0013
4,능곡시장,상설장+5일장,경기도 고양시 덕양구 능곡로 12의 9,경기도 고양시 덕양구 토당동 347,2일+7일,37.621351,126.820779,41.0,농산물+축산물+수산물+가공식품+의류+신발+가정용품+음식점,NaN,Y,2000.0,031-973-3727

In [4]:
market.columns = ["name", "category", "address1", "address2", "open_cycle", "latitude", "longitude", "number_of_stores", 
                  "items_type", "homepage", "restroom", "open_year", "phone_number"]
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1388 non-null   object
 1   category          1388 non-null   object
 2   address1          1381 non-null   object
 3   address2          1373 non-null   object
 4   open_cycle        1388 non-null   object
 5   latitude          1388 non-null   float64
 6   longitude         1388 non-null   float64
 7   number_of_stores  1383 non-null   float64
 8   items_type        1388 non-null   object
 9   homepage          120 non-null    object
 10  restroom          1388 non-null   object
 11  open_year         1374 non-null   float64
 12  phone_number      841 non-null    object
dtypes: float64(4), object(9)
memory usage: 141.1+ KB

In [5]:
market = market.astype({'number_of_stores': 'Int64', 'open_year': 'Int64'})
market[['number_of_stores', 'open_year']]

      number_of_stores  open_year
0                   94       2016
1                  119       2015
2                   79       2018
3                   68       <NA>
4                   41       2000
...                ...        ...
1383               206       1977
1384                50       1964
1385                42       1995
1386                46       1969
1387                17       1964

[1388 rows x 2 columns]

In [6]:
market[market['address1'].isnull()]

,name,category,address1,address2,open_cycle,latitude,longitude,number_of_stores,items_type,homepage,restroom,open_year,phone_number
671,봉화상설시장,상설장+5일장,NaN,경상북도 봉화군 봉화읍 내성리 419-20,2일+7일,36.890353,128.734932,136,농산물+축산물+수산물+가공식품+의류+신발+가정용품+음식점,NaN,Y,1980,054-673-5945
831,동성시장,상설장,NaN,대구광역시 수성구 수성2가 39-1,매일,37.482502,129.126010,68,농산물+가공식품,NaN,Y,1971,NaN
833,태백시장,상설장,NaN,대구광역시 수성구 수성2가 39-4,매일,37.430900,129.178568,49,축산물,NaN,Y,1974,NaN
1046,덕천시장,상설장,NaN,부산광역시 북구 덕천동 411-5,매일,35.211216,129.013403,140,가공식품+음식점,NaN,Y,1980,NaN
1154,언양공설시장,상설장+5일장,NaN,울산광역시 울주군 언양읍 남부리 336-20,2일+7일,35.562873,129.125824,57,농산물+수산물+가공식품+의류+신발+가정용품+음식점,NaN,Y,1915,NaN
1158,덕신1차시장,상설장+5일장,NaN,울산광역시 울주군 온산읍 덕신리 1280-21 덕신종합상설시장,5일+10일,36.195858,128.391937,36,농산물+수산물+가공식품,NaN,Y,1991,NaN
1266,우수영5일시장,5일장,NaN,전라남도 해남군 문내면 동외리 919-17,4일+9일,35.920994,128.596181,44,농산물+수산물,NaN,Y,1964,NaN

In [7]:
mv = market['name'].value_counts()
mv[mv > 1]

name
중앙시장     12
역전시장      5
신흥시장      4
동부시장      4
평화시장      3
서동시장      3
신중앙시장     3
자유시장      3
강남시장      2
북부시장      2
사직시장      2
제일시장      2
인동시장      2
중부시장      2
덕산시장      2
교동시장      2
동서시장      2
삼성시장      2
현대시장      2
대곡시장      2
황금시장      2
남부시장      2
양곡시장      2
서면시장      2
구암시장      2
신평시장      2
마천시장      2
웅천시장      2
Name: count, dtype: int64

In [8]:
idx = mv[mv > 1].index.tolist()
idx

['중앙시장',
 '역전시장',
 '신흥시장',
 '동부시장',
 '평화시장',
 '서동시장',
 '신중앙시장',
 '자유시장',
 '강남시장',
 '북부시장',
 '사직시장',
 '제일시장',
 '인동시장',
 '중부시장',
 '덕산시장',
 '교동시장',
 '동서시장',
 '삼성시장',
 '현대시장',
 '대곡시장',
 '황금시장',
 '남부시장',
 '양곡시장',
 '서면시장',
 '구암시장',
 '신평시장',
 '마천시장',
 '웅천시장']

In [9]:
def get_name(row):
    if row['name'] in idx:
        zone = row['address1'].split()[1]
        if len(zone) == 2:
            return zone + row['name']
        return zone[:-1] + row['name']
    return row['name']

market['join_name'] = market.apply(get_name, axis=1)
market['join_name']

0             설악눈메골시장
1             가평잣고을시장
2              청평여울시장
3                원당시장
4                능곡시장
            ...
1383    순천시아랫장(순천아랫장)
1384             괴목시장
1385         영광고추특화시장
1386           시종5일시장
1387           신북5일시장
Name: join_name, Length: 1388, dtype: object

In [10]:
facility = pd.read_csv('소상공인시장진흥공단_전통시장현황_20240719.csv', encoding='cp949')
facility.head()

,시장코드,시장명,시장 유형,지번주소,도로명주소,시도,시군구,아케이드 보유 여부,엘리베이터_에스컬레이터_보유여부,고객지원센터 보유 여부,...,쇼핑카트_보유여부,외국인 안내센터_보유여부,고객동선통로_보유여부,방송센터_보유여부,문화교실_보유여부,공동물류창고_보유여부,시장전용 고객주차장_보유여부,교육장_보유여부,회의실_보유여부,자동심장충격기_보유여부
0,b31370001,설악눈메골시장,전통시장,경기도 가평군 설악면 신천리 413-14,경기도 가평군 설악면 신천중앙로 104-1,경기도,가평군,N,N,N,...,N,N,N,N,N,N,Y,Y,Y,N
1,a31370001,가평잣고을시장,전통시장,경기도 가평군 읍내리 405,경기도 가평군 가평읍 장터2길12 204호,경기도,가평군,Y,N,Y,...,N,N,Y,Y,N,Y,Y,Y,Y,N
2,a31370007,청평여울시장,전통시장,경기도 가평군 청평면 청평리 81-2,경기도 가평군 청평면 시장중앙로19,경기도,가평군,Y,Y,N,...,N,N,N,N,N,N,Y,N,Y,N
3,a31100001,원당시장,전통시장,경기도 고양시 덕양구 성사동 697-14,경기도 고양시 덕양구 호국로 790번길 17,경기도,고양시,Y,N,Y,...,N,N,Y,Y,N,N,Y,Y,Y,Y
4,a31101001,능곡시장,전통시장,경기도 고양시 덕양구 토당동 347,경기도 고양시 덕양구 능곡로 12의 9,경기도,고양시,N,N,Y,...,Y,N,Y,Y,N,Y,Y,Y,Y,Y

In [11]:
facility = facility.drop(columns=['시장코드', '시장 유형', '지번주소'])
facility.head()

,시장명,도로명주소,시도,시군구,아케이드 보유 여부,엘리베이터_에스컬레이터_보유여부,고객지원센터 보유 여부,스프링쿨러 보유 여부,화재감지기 보유여부,유아놀이방_보유여부,...,쇼핑카트_보유여부,외국인 안내센터_보유여부,고객동선통로_보유여부,방송센터_보유여부,문화교실_보유여부,공동물류창고_보유여부,시장전용 고객주차장_보유여부,교육장_보유여부,회의실_보유여부,자동심장충격기_보유여부
0,설악눈메골시장,경기도 가평군 설악면 신천중앙로 104-1,경기도,가평군,N,N,N,Y,Y,N,...,N,N,N,N,N,N,Y,Y,Y,N
1,가평잣고을시장,경기도 가평군 가평읍 장터2길12 204호,경기도,가평군,Y,N,Y,Y,Y,N,...,N,N,Y,Y,N,Y,Y,Y,Y,N
2,청평여울시장,경기도 가평군 청평면 시장중앙로19,경기도,가평군,Y,Y,N,N,N,N,...,N,N,N,N,N,N,Y,N,Y,N
3,원당시장,경기도 고양시 덕양구 호국로 790번길 17,경기도,고양시,Y,N,Y,N,Y,Y,...,N,N,Y,Y,N,N,Y,Y,Y,Y
4,능곡시장,경기도 고양시 덕양구 능곡로 12의 9,경기도,고양시,N,N,Y,N,N,N,...,Y,N,Y,Y,N,Y,Y,Y,Y,Y

In [12]:
facility.columns = ["name", "address1", "city1", "city2", "arcade", "elevator", "support_center", "sprinkler", "fire_detector", 
                    "play_room", "call_center", "foyer", "lactation_center", "stockroom", "bicycle_rack", "gym", "library",
                    "shopping_cart", "visitor_center", "movement_path", "broadcasting_center", "cultural_center", 
                    "cooperative_warehouse", "parking", "education_center", "meeting_room", "AED"]
facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   1388 non-null   object
 1   address1               1388 non-null   object
 2   city1                  1388 non-null   object
 3   city2                  1388 non-null   object
 4   arcade                 1388 non-null   object
 5   elevator               1388 non-null   object
 6   support_center         1388 non-null   object
 7   sprinkler              1388 non-null   object
 8   fire_detector          1388 non-null   object
 9   play_room              1388 non-null   object
 10  call_center            1388 non-null   object
 11  foyer                  1388 non-null   object
 12  lactation_center       1388 non-null   object
 13  stockroom              1388 non-null   object
 14  bicycle_rack           1388 non-null   object
 15  gym                    1388 non-null   object
 16  library                1388 non-null   object
 17  shopping_cart          1388 non-null   object
 18  visitor_center         1388 non-null   object
 19  movement_path          1388 non-null   object
 20  broadcasting_center    1388 non-null   object
 21  cultural_center        1388 non-null   object
 22  cooperative_warehouse  1388 non-null   object
 23  parking                1388 non-null   object
 24  education_center       1388 non-null   object
 25  meeting_room           1388 non-null   object
 26  AED                    1388 non-null   object
dtypes: object(27)
memory usage: 292.9+ KB

In [13]:
facility[facility['address1'] == '0']

,name,address1,city1,city2,arcade,elevator,support_center,sprinkler,fire_detector,play_room,...,shopping_cart,visitor_center,movement_path,broadcasting_center,cultural_center,cooperative_warehouse,parking,education_center,meeting_room,AED
338,아트프라자,0,서울특별시,중구,N,Y,Y,Y,Y,N,...,N,N,Y,Y,N,N,N,N,N,Y
568,공산5일시장,0,전라남도,나주시,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
572,세지5일장,0,전라남도,나주시,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
739,중앙시장,0,경상북도,김천시,N,N,N,Y,Y,N,...,N,N,N,N,N,N,Y,N,Y,N

In [14]:
facility.loc[938]

name                             서문시장 아진상가
address1                 대구광역시 중구 큰장로 28길39
city1                                 대구광역시
city2                                    중구
arcade                                    Y
elevator                                  N
support_center                            Y
sprinkler                                 N
fire_detector                             Y
play_room                                 N
call_center                               N
foyer                                     N
lactation_center                          N
stockroom                                 N
bicycle_rack                              N
gym                                       N
library                                   N
shopping_cart                             N
visitor_center                            N
movement_path                             Y
broadcasting_center                       Y
cultural_center                           N
cooperative_warehouse                     N
parking                                   Y
education_center                          N
meeting_room                              Y
AED                                       Y
Name: 938, dtype: object

In [15]:
facility.loc[499, 'name'] = '운수대통 생거진천전통시장'
facility.loc[739, 'name'] = '김천중앙시장'
facility.loc[938, 'name'] = '서문시장 아진상가'
facility['join_name'] = facility.apply(get_name, axis=1)
facility['join_name']

0                설악눈메골시장
1                가평잣고을시장
2                 청평여울시장
3                   원당시장
4                   능곡시장
              ...
1383                신산시장
1384              함덕오일시장
1385    한림민속오일시장(한림오일시장)
1386              한림매일시장
1387              화북종합시장
Name: join_name, Length: 1388, dtype: object

In [16]:
alls = pd.merge(market, facility, on=['join_name'])
alls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name_x                 1388 non-null   object
 1   category               1388 non-null   object
 2   address1_x             1381 non-null   object
 3   address2               1373 non-null   object
 4   open_cycle             1388 non-null   object
 5   latitude               1388 non-null   float64
 6   longitude              1388 non-null   float64
 7   number_of_stores       1383 non-null   Int64
 8   items_type             1388 non-null   object
 9   homepage               120 non-null    object
 10  restroom               1388 non-null   object
 11  open_year              1374 non-null   Int64
 12  phone_number           841 non-null    object
 13  join_name              1388 non-null   object
 14  name_y                 1388 non-null   object
 15  address1_y             1388 non-null   object
 16  city1                  1388 non-null   object
 17  city2                  1388 non-null   object
 18  arcade                 1388 non-null   object
 19  elevator               1388 non-null   object
 20  support_center         1388 non-null   object
 21  sprinkler              1388 non-null   object
 22  fire_detector          1388 non-null   object
 23  play_room              1388 non-null   object
 24  call_center            1388 non-null   object
 25  foyer                  1388 non-null   object
 26  lactation_center       1388 non-null   object
 27  stockroom              1388 non-null   object
 28  bicycle_rack           1388 non-null   object
 29  gym                    1388 non-null   object
 30  library                1388 non-null   object
 31  shopping_cart          1388 non-null   object
 32  visitor_center         1388 non-null   object
 33  movement_path          1388 non-null   object
 34  broadcasting_center    1388 non-null   object
 35  cultural_center        1388 non-null   object
 36  cooperative_warehouse  1388 non-null   object
 37  parking                1388 non-null   object
 38  education_center       1388 non-null   object
 39  meeting_room           1388 non-null   object
 40  AED                    1388 non-null   object
dtypes: Int64(2), float64(2), object(37)
memory usage: 447.4+ KB

In [17]:
alls = alls.replace('N', False)
alls = alls.replace('Y', True)

In [18]:
def get_address(row):
    if pd.isna(row['address1_x']):
        return row['address1_y']
    return row['address1_x']
    
alls['address'] = alls.apply(get_address, axis=1)
print(alls['address'].isnull().sum())
print(alls[alls['address'] == '0'])

0
Empty DataFrame
Columns: [name_x, category, address1_x, address2, open_cycle, latitude, longitude, number_of_stores, items_type, homepage, restroom, open_year, phone_number, join_name, name_y, address1_y, city1, city2, arcade, elevator, support_center, sprinkler, fire_detector, play_room, call_center, foyer, lactation_center, stockroom, bicycle_rack, gym, library, shopping_cart, visitor_center, movement_path, broadcasting_center, cultural_center, cooperative_warehouse, parking, education_center, meeting_room, AED, address]
Index: []

[0 rows x 42 columns]

In [19]:
alls.index += 1
alls = alls.reset_index().rename(columns={"index": "facility_id"})

alls.index += 1
alls = alls.reset_index().rename(columns={"index": "id", "name_x": "name"})

market = alls[["id", "name", "category", "address", "city1", "city2", "open_cycle", "latitude", "longitude", "number_of_stores",
               "items_type", "homepage", "open_year", "phone_number", "facility_id"]]

market.head()

,id,name,category,address,city1,city2,open_cycle,latitude,longitude,number_of_stores,items_type,homepage,open_year,phone_number,facility_id
0,1,설악눈메골시장,상설장+5일장,경기도 가평군 설악면 신천중앙로 104-1,경기도,가평군,1일+6일,37.677383,127.492181,94,농산물+음식점,NaN,2016,031-585-9983,1
1,2,가평잣고을시장,상설장+5일장,경기도 가평군 가평읍 장터2길12 204호,경기도,가평군,5일+10일,37.779724,127.452787,119,음식점,NaN,2015,031-582-8181,2
2,3,청평여울시장,상설장+5일장,경기도 가평군 청평면 시장중앙로19,경기도,가평군,2일+7일,37.734766,127.415861,79,음식점,NaN,2018,031-584-0948,3
3,4,원당시장,상설장,경기도 고양시 덕양구 호국로 790번길 17,경기도,고양시,매일,37.656281,126.837253,68,농산물+축산물+수산물+가공식품+의류+신발+가정용품,NaN,<NA>,031-963-0013,4
4,5,능곡시장,상설장+5일장,경기도 고양시 덕양구 능곡로 12의 9,경기도,고양시,2일+7일,37.621351,126.820779,41,농산물+축산물+수산물+가공식품+의류+신발+가정용품+음식점,NaN,2000,031-973-3727,5

In [20]:
facility = alls[["id", "restroom", "arcade", "elevator", "support_center", "sprinkler", "fire_detector", "play_room", "call_center", 
                 "foyer", "lactation_center", "stockroom", "bicycle_rack", "gym", "library", "shopping_cart", "visitor_center", 
                 "movement_path", "broadcasting_center", "cultural_center", "cooperative_warehouse", "parking", "education_center", 
                 "meeting_room", "AED"]]

facility.head()

,id,restroom,arcade,elevator,support_center,sprinkler,fire_detector,play_room,call_center,foyer,...,shopping_cart,visitor_center,movement_path,broadcasting_center,cultural_center,cooperative_warehouse,parking,education_center,meeting_room,AED
0,1,True,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,True,True,False
1,2,True,True,False,True,True,True,False,True,False,...,False,False,True,True,False,True,True,True,True,False
2,3,True,True,True,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,True,False
3,4,False,True,False,True,False,True,True,True,True,...,False,False,True,True,False,False,True,True,True,True
4,5,True,False,False,True,False,False,False,False,True,...,True,False,True,True,False,True,True,True,True,True

In [21]:
import sqlite3
conn = sqlite3.connect("tmmap.db")

In [22]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1388 non-null   int64
 1   name              1388 non-null   object
 2   category          1388 non-null   object
 3   address           1388 non-null   object
 4   city1             1388 non-null   object
 5   city2             1388 non-null   object
 6   open_cycle        1388 non-null   object
 7   latitude          1388 non-null   float64
 8   longitude         1388 non-null   float64
 9   number_of_stores  1383 non-null   Int64
 10  items_type        1388 non-null   object
 11  homepage          120 non-null    object
 12  open_year         1374 non-null   Int64
 13  phone_number      841 non-null    object
 14  facility_id       1388 non-null   int64
dtypes: Int64(2), float64(2), int64(2), object(9)
memory usage: 165.5+ KB

In [23]:
print(market['name'].str.len().max())
print(market['category'].str.len().max())
print(market['address'].str.len().max())
print(market['city1'].str.len().max())
print(market['city2'].str.len().max())
print(market['open_cycle'].str.len().max())
print(market['items_type'].str.len().max())
print(market['homepage'].str.len().max())
print(market['phone_number'].str.len().max())

21
7
38
7
4
11
45
48.0
13.0

In [24]:
facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1388 non-null   int64
 1   restroom               1388 non-null   bool
 2   arcade                 1388 non-null   bool
 3   elevator               1388 non-null   bool
 4   support_center         1388 non-null   bool
 5   sprinkler              1388 non-null   bool
 6   fire_detector          1388 non-null   bool
 7   play_room              1388 non-null   bool
 8   call_center            1388 non-null   bool
 9   foyer                  1388 non-null   bool
 10  lactation_center       1388 non-null   bool
 11  stockroom              1388 non-null   bool
 12  bicycle_rack           1388 non-null   bool
 13  gym                    1388 non-null   bool
 14  library                1388 non-null   bool
 15  shopping_cart          1388 non-null   bool
 16  visitor_center         1388 non-null   bool
 17  movement_path          1388 non-null   bool
 18  broadcasting_center    1388 non-null   bool
 19  cultural_center        1388 non-null   bool
 20  cooperative_warehouse  1388 non-null   bool
 21  parking                1388 non-null   bool
 22  education_center       1388 non-null   bool
 23  meeting_room           1388 non-null   bool
 24  AED                    1388 non-null   bool
dtypes: bool(24), int64(1)
memory usage: 43.5 KB

CREATE TABLE facility (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
	restroom BOOLEAN NOT NULL,
	arcade BOOLEAN NOT NULL,
	elevator BOOLEAN NOT NULL,
	support_center BOOLEAN NOT NULL, 
	sprinkler BOOLEAN NOT NULL,
	fire_detector BOOLEAN NOT NULL,
	play_room BOOLEAN NOT NULL,
	call_center BOOLEAN NOT NULL,
	foyer BOOLEAN NOT NULL,
	lactation_center BOOLEAN NOT NULL,
	stockroom BOOLEAN NOT NULL,
	bicycle_rack BOOLEAN NOT NULL, 
	gym BOOLEAN NOT NULL,
	library BOOLEAN NOT NULL,
	shopping_cart BOOLEAN NOT NULL,
	visitor_center BOOLEAN NOT NULL,
	movement_path BOOLEAN NOT NULL,
	broadcasting_center BOOLEAN NOT NULL,
	cultural_center BOOLEAN NOT NULL,
	cooperative_warehouse BOOLEAN NOT NULL,
	parking BOOLEAN NOT NULL, 
	education_center BOOLEAN NOT NULL,
	meeting_room BOOLEAN NOT NULL,
	AED BOOLEAN NOT NULL
);

CREATE TABLE market (
	id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    category TEXT NOT NULL,
    address TEXT NOT NULL,
    city1 TEXT NOT NULL,
    city2 TEXT NOT NULL,
    open_cycle TEXT NOT NULL,
    latitude FLOAT NOT NULL,
	longitude FLOAT NOT NULL,
	number_of_stores INT, 
	items_type TEXT NOT NULL,
	homepage TEXT,
	open_year INT,
	phone_number TEXT,
    facility_id INT NOT NULL UNIQUE,
    FOREIGN KEY (facility_id) REFERENCES facility(id)
);

In [25]:
facility.to_sql(name='facility', con=conn, if_exists='append', index=False)

1388

In [26]:
market.to_sql(name='market', con=conn, if_exists='append', index=False)

1388